.product-list__list-container * {
    margin: 0px;
    padding: 0px;
}

.product-list__list-container {
    width: 40vw;
    height: 100px;
    background-color: var(--secondary-colour);
    border-radius: 5px;
    padding: 10px;
}

.product-list__list-container ul {
    height: 80px;
    overflow: scroll;
}

.product-list__empty-message {
    justify-self: center;
    align-self: center;
}

