/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

:root {
    --primary-colour: #F2C01D;
    --secondary-colour: #eeeef9;
    --font-family: Arial, "Helvetica Neue Roman", sans-serif;
}
  

html {
    @include mat.theme(
        (color: mat.$orange-palette)
    );
}

html, body { height: 100%; }
body { margin: 0; font-family: var(--font-family); }

